<app-main-header class="mat-elevation-z2"></app-main-header>
<div class="container-fluid" role="main">
    <div class="row align-items-center text-center fill">
        <div class="col d-flex justify-content-center ">
            <!--div class="card text-white bg-success mb-3 box-shadow" style="max-width: 20rem;min-width: 15rem;">
              <div class="card-header">Nova Venda</div>
              <div class="card-body">
                  <i class="fa fa-cart-plus" style="font-size: 5em"></i>
              </div>
            </div-->
            <h1 class="display-1">
              Caixa Livre
            </h1>
        </div>
          <!--div class="col d-flex justify-content-center">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem; min-width: 15rem;">
              <div class="card-header">Pesquisa de Produto</div>
              <div class="card-body">
                <i class="fa fa-search" style="font-size: 5em"></i>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center ">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;min-width: 15rem;">
              <div class="card-header">Configurações</div>
              <div class="card-body">
                  <i class="fa fa-cog" style="font-size: 5em"></i>
              </div>
            </div>
          </div-->  
    </div>
    
</div>
<app-main-footer></app-main-footer>