
<footer color='primary' class="footer white-text">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="row text-left">
          <div class="col">
            <i class="fa fa-link" style="font-size: 13px"></i>
            <span class="text-success font-weight-bold">
              Online
            </span>
          </div>
          <div class="col">
              <i class="fa fa-user" style="font-size: 14px"></i>
              <span class="font-weight-normal">
                felipeo
              </span>
          </div>
        </div>
      </div>
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
      <div class="col text-right ">
        
          {{data}} &nbsp;
          {{now}}  
          
      </div>
    </div>
  </div>
</footer>